body {
    background-color:#426e86;
    margin: 0px;
}
#headerLogo {
   height: auto;
   width: 80vw;
   margin-left: 10vw;
   margin-top: 10vh;
}

p {
    color: #2f3131;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    background-color: #f9ba32;

}

.container {
    display: flex;
    justify-content: center;
    background-color: #426e86;
}

.infoblok {
    color: #2f3131;    
    width: 22vw;
    height: auto;
    margin-left: 6vw;
    margin-right: 5vw;
    margin-top: 10vh;
    text-align: center;
    border-radius: 25px;
}

.links  {
    float: left;
}

.intro {
    font-size: 5vw;
}