body {
    background-color:#426e86;
}
.headerLogo {
   height: auto;
   width: 80vw;
   margin-left: 10vw;
   margin-top: 10vh;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F8F1E5;
    text-align: center;
}

#intro {
    font-size: 3em;
}